@media screen and (min-width: 900px) {
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    /* CSS Smooth scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    /* make it on the top and always on the top */
    top: 0;
    z-index: 999;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(242, 237, 237, 0.7);
}

.like{
    border: none;
    background: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{
    margin: 0 2rem;
    padding: 1rem;
}

.navbar ul li img {
    width: 30px;
    height: auto;
}

.likeImg{
    width: 30px;
    height: auto;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.navbar ul li a:hover {
    color: whitesmoke;
}

section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

/* below are for the home page */
section#home {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: rgb(10 25 47 / 85%);
}

.personal_img img{
    width: 95%;
    height: auto;
    padding-left: 2%;
    border-radius: 30px;
}

section#home .name{
    grid-column: 2/2;
    grid-row: 2/3;
}

section#home .skill{
    grid-column: 2/2;
    grid-row: 3/4;
}

.personal_img {
    grid-row: 2/4;
}

section#home h1{
    font-size: 80px;
    padding-top: 30px;
    color: #ccd6f6;
}

section#home p{
    font-size: 25px;
    padding-bottom: 20px;
    color: #a8b2d1;
}

section#home h2{
    font-size: 30px;
    color: #ccd6f6;
}


#homeLink{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #a8b2d1;
    border: 2px solid white;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: .35s;
    border-radius: 20px;
    grid-row: 4/5;
    grid-column: 2/2;
    margin-left: 70%;
  }
  
#homeLink span{
    position: relative;
    z-index: 1;
  }
  
#homeLink:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(242, 237, 237, 0.7);
    transition: .35s;
    border-radius: 18px;
  }
  
#homeLink:hover{
    color: black;
  }
  
#homeLink:hover:after{
    width: 100%;
  }

/* below are for the about me page */
section#about .room {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    place-items: center;
    perspective: 100rem;
    background-color: rgb(10 25 47 / 85%);
}

section#about .table {
    width: 60rem;
    height: 60rem;
    background-image: radial-gradient(
        rgba(245, 239, 239, 0.9),
        rgba(228, 237, 238, 0.9));
    border-radius: 50%;
    border-bottom: 2rem solid rgb(215, 231, 227);
    transform: rotateX(70deg) translateZ(10rem);
    transform-style: preserve-3d;
    transition: transform 2s;
}

.table-leg {
    width: 2rem;
    height: 30rem;
    background-color: rgba(192, 192, 192);
    position: absolute;
    top: 30rem;
    left: 28.5rem;
}

.table-leg-1 {
    transform: rotateX(-60deg) rotateZ(40deg);
    transform-origin: top;
    border-radius: 5rem 1rem;
    border-right: 0.3rem solid rgb(192, 192, 192);
    border-bottom: 0.3rem solid rgb(192, 192, 192);
}

.table-leg-2 {
    transform: rotateX(-60deg) rotateZ(-40deg);
    transform-origin: top;
    border-radius: 1rem 5rem;
    border-left: 0.3rem solid rgb(192, 192, 192);
    border-bottom: 0.3rem solid rgb(192, 192, 192);
}

.table-leg-3 {
    transform: rotateX(-140deg);
    transform-origin: top;
    border-radius: 1rem;
    border-left: 0.3rem solid rgb(192, 192, 192);
    border-right: 0.3rem solid rgb(192, 192, 192);
}

section#about .letter{
    width: 30rem;
    height: 15rem;
    background-color: #fff;
    padding: 2rem 1rem 2rem 2rem;
    color: #555;
    box-shadow: 0 0 0.1rem #aaa;
    margin-left: 23%;
    margin-top: 30%;
    transform-origin: bottom;
    transition: transform 1s;
    font-size: 18px;
    text-align: left;
    text-indent: 1rem;
}

section#about .table.change{
    transform: rotateX(80deg) translateY(30rem) translateZ(10rem);
    transition: transform 2s;
}

section#about .button{
    width: 10rem;
    height: 10rem;
    background-color: #eee;
    position: relative;
    top: 10rem;
    left: -40rem;
    border-radius: 50% 50% 0 50%;
    font-size: 20px;
}

section#about .change .letter{
    transform: rotateX(-90deg);
    transition:  transform 1s 2s;
}

/* below are for the galart page */
section#gallery {
    background-color: rgb(10 25 47 / 85%);
}

section#gallery .row img{
    width: 280px;
    height: 320px;
    border-radius: 10px;
}

section#gallery .primaryImg{
    margin-top: 5%;
    width: 300px;
    height: 373px;
    border-radius: 10px;
    margin-left:40%;
}
  
  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    margin-left:30.5%;
  }

  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: lightgray;
  }
  
  /* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
    
  /* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
  }
  
.active,
.demo:hover {
    opacity: 1;
  }

/* below are for the interest page */
section#project {
    background-color: rgb(10 25 47 / 85%);
}

section#project iframe{
    margin-left: 15%;
    margin-top: 10%;
    width: 70%;
    height: 70%;
}

/* below are for the experience page */
section#experience{
    background-color: rgb(10 25 47 / 85%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section#experience .experienceDiv{
    grid-column: 2/3;
    margin-top: 15%;
}

section#experience button{
    font-size: 100%;
    border-radius: 20px 20px;
    width: 100%;
    background-color: rgba(242, 237, 237, 0.7);
}

section#experience p{
    color: #ccd6f6;
}

section#experience li{
    color: #a8b2d1;
}

/* below are for the contact page */
section#contact {
    text-align: center;
    background-color: rgb(10 25 47 / 85%);
}

section#contact h2{
    font-size: 50px;
}

section#contact h2, h3{
    color: #ccd6f6;
}

section#contact p{
    color: #a8b2d1;
}
section#contact #contactIcon{
    display: flex;
    flex-direction: row;
}

section#contact img{
    width: 20%;
    height: auto;
    padding-top: 70px;
}

section#contact #contactKai {
    padding-top: 100px;
    color: white;
}

section#contact iframe{
    padding-top: 30px;
    width: 90%;
}

section#contact a{
    text-decoration: none;
    color: #a8b2d1;
    font-family: 'Lobster', cursive;
}

section#contact a:hover{
    color: skyblue;
}
}
